
.bg-primary{
    background-color: #11ccfc!important;
}

.mt20{
margin-top:20px;
}

.container-custom{
width:95%!important;
margin:auto;
}
nav{
    background-color: #11ccfc;
}
.page-footer{
    background-color: #11ccfc;
}



