{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Welcome to the Blog App</h1>
    <p>This blog app allows you to create, edit, and delete blog posts, as well as view posts created by other users.</p>

    <h2>Creating a New Post</h2>
    <p>To create a new post, simply click on the "New Post" button on the homepage. You will be redirected to a form where you can enter the title and content of your post.</p>

    <h2>Editing a Post</h2>
    <p>To edit an existing post, click on the "Edit" button next to the post you wish to edit. You will be redirected to a form where you can make changes to the post's title and content.</p>

    <h2>Deleting a Post</h2>
    <p>To delete a post, click on the "Delete" button next to the post you wish to delete. You will be prompted to confirm the deletion before the post is permanently removed from the database.</p>

    <h2>Viewing Posts</h2>
    <p>To view all posts, click on the "All Posts" button on the homepage. This will display a list of all posts created by all users.</p>

    <h2>Viewing User-Specific Posts</h2>
    <p>To view posts created by a specific user, click on the user's name in the navigation bar. This will display a list of all posts created by that user.</p>
  </div>


{% endblock %}
